@page
@model IndexModel
@using BlogApplication.Models
@{
    ViewData["Title"] = "Home page";
    ViewData["Authors"] = string.Empty;
}

<div class="text-center">
    <h1 class="display-4">Welcome to my blogging site.</h1>
    <p>This is where you write your story.</p>
</div>
